.container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(214, 69, 112);
    
            
}

.item:hover{
    background-color: rgb(111, 164, 200);
    
}

.item {
    border:2px solid lightcoral; 
    border-radius:5px;
    margin: 20px;
    padding: 10px;
    text-decoration:none;
}